{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <title>Notes App</title>
</head>
<body>
    {% include 'nav.html' %}

    {% if user.is_authenticated %}
        <div class="container">
        <h1>Welcome to Notes App</h1>

            <a href="{% url 'create_note' %}"><input type="submit" value="Create New Note"></a>
            <a href="{% url 'choose_category' %}"><input type="submit" value="Create New Category"></a>
            <a href="{% url 'list' %}"><input type="submit" value="See Old List"></a>
        </div>
    {% else %}
    <div class="container">
        <h1>Welcome to Notes App</h1>
            <h5>Login/Register to view and add new lists</h5>
        </div>
    {% endif %}
</body>
</html>
